<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/main.css" />
</head>
<body>
    <ul v-cloak class="z-history aui-margin-b-15" id="orderList">
        <li v-for="(value, index) in dataArr" @click="orderDetail(value.orderId, value.stockCode)">
            <p class="z-title aui-border-b">
                <span class="z-icon">{{value.typeName}}</span>
                <span class="aui-padded-r-10">{{value.nickname}}</span>
                <span>{{value.stockCode}}</span>
                <span v-if="value.status == 4" class="z-cancel aui-text-info">撤单中</span>
                <span v-else class="z-cancel" @click.stop="cancelOrder(value.orderId, value.stockCode, value.type)">撤单</span>
            </p>
            <div class="z-body aui-border-b z-clearfix">
                <div class="aui-col-xs-6 z-con"><p>￥{{value.price}}</p><p>价格</p></div>
                <div class="aui-col-xs-6 z-con"><p>{{value.amount - value.residueAmount}}</p><p>成交量</p></div>
            </div>
            <div class="z-footer">
                <p><span>数量</span><span class="aui-pull-right">{{value.amount}}</span></p>
                <p><span>日期</span><span class="aui-pull-right">{{value.createTime}}</span></p>
            </div>
        </li>
        <div v-if="listMsg" class="aui-text-center z-null-data aui-margin-t-15" :class="{'z-pt-30': nullData}"><span>{{listMsg}}</span></div>
    </ul>
</body>
<script type="text/javascript" src="../../script/dist/api.js"></script>
<script type="text/javascript" src="../../script/dist/vue.js"></script>
<script type="text/javascript" src="../../script/config.js"></script>
<script type="text/javascript" src="../../script/tool.js"></script>
<script type="text/javascript">
apiready = function(){
    var vm = new Vue({
        el: '#orderList',
        data: {
            dataArr: [],
            listMsg: '',
            nullData: false
        },
        methods: {
            init: function(){
                vm.getData();
                vm.refresh();
            },
            getData: function(){
                var self = this;
                api.showProgress();
                api.ajax({
                    url: SERVER_PATH + 'Deal/getALLDealList',
                    method: 'post',
                    data: {
                        values: {
                            AccessToken: $api.getStorage('token'),
                            investorId: $api.getStorage('userId'),
                            type: Enum.DealType.Buy + ',' + Enum.DealType.Sell
                        },
                        files: {}
                    }
                }, function(ret, err) {
                    api.hideProgress();
                    if (ret) {
                        if(ret.code == 0 && ret.data && ret.data.length){
                            self.maxPage = parseInt(ret.recordsTotal / self.length) + 1;
                            ret.data.forEach(function(item){
                                if(item.type == Enum.DealType.Buy) item.typeName = '收';
                                if(item.type == Enum.DealType.Sell) item.typeName = '转';
                            });
                            self.dataArr = Tool.arrSort(ret.data, 'createTime');
                            self.dataArr = self.dataArr.filter(function(item){
                                return item.status != '4'; //过滤撤单中的挂单
                            });
                            vm.listMsg = LoadAll;
                        }else{
                            vm.listMsg = HasNotData;
                            vm.nullData = true;
                        }
                    } else {
                        Tool.toastInfo(errMsg);
                    }
                });
            },
            cancelOrder: function(id,stockCode,type){
                Tool.confirm('确定撤单?', 'cancelOrderOnSellPage');
                api.addEventListener({
                    name: 'cancelOrderOnSellPage'
                }, function(ret, err){
                    if( ret ){
                        api.ajax({
                            url: SERVER_PATH + 'Deal/cancelOrder',
                            method: 'post',
                            data: {
                                values: {
                                    AccessToken: $api.getStorage('token'),
                                    orderId: id,
                                    stockCode: stockCode,
                                    type: type,
                                },
                            }
                        }, function(ret, err) {
                            if(ret && ret.code == 0){
                                Tool.toastInfo(ret.msg || '撤单成功')
                                vm.refresh();
                            }else{
                                Tool.toastInfo(errMsg);
                            }
                        });
                    }
                });
            },
            refresh: function(){
                var self = this;
                Tool.refreshPage(function(){
                    vm.listMsg = '';
                    self.dataArr = [];
                    vm.getData();
                });
            },
            orderDetail: function(orderId, stockCode){
                Tool.openHeader({
                    frame: {
                        title: '交易明细',
                        url: api.wgtRootDir + '/home/deal/dealDetail.html',
                        param: {
                            orderId: orderId,
                            stockCode: stockCode
                        }
                    }
                });
            }
        },
    });
    vm.init();
};
</script>
</html>
